@import "./__comments-grid__single-comment/comments-grid__single-comment";

.comments-grid{
  width: 85%;
  overflow-y: scroll;
  min-height:93px;
  // max-height: 15em;
  // border: 1px solid red;
}
