@import "./comments-grid/comments-grid";

.comments{
  width: 85%;
  min-width:283px;
  min-height:235px;
  margin-top:12px;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
  &__toggle-comments{
    border:0;
    background-color: white;
    font-size: 14px;
    color: #FFA640;
    margin: 25px auto;
  }
  &__input{
    border: 2px solid #DBE0E8;
  }
}
