@import "./comments-grid/comments-grid";

.comments{
  width: 85%;
  min-width:283px;
  min-height:235px;
  margin-top:12px;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
  &__toggle-comments{
    border:0;
    background-color: white;
    font-size: 14px;
    color: #FFA640;
    margin: 25px auto;
  }
  &__input{
    border:0;
    border-bottom: 2px solid #DBE0E8;
    width: 80%;
    height: 27px;
    margin: 2em 0;
    &::placeholder{
      font-size: 18px;
      color: #8298B9;
    }
    &:focus{
      border: 0;
      border-bottom: 3px solid #FFA640;
      color: #8298B9;
      font-size: 16px;
    }
  }
}
