@import "./comments-grid/comments-grid";
@import "./../_cv-page__base/media-query-mixins";

//styles for wrapper div to toggle show of comments
.hide{
  display: none;
}
.show{
  display:flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
// main styles of comments expept single ones which are in single folder
.comments{
  // border: 1px solid green;
  width: 85%;
  min-width:283px;
  min-height: 50px;
  max-height: 55vh;
  margin:12px 0;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
  @include laptop{
    max-height: 55vh;
  };
  &__toggle-comments{
    // border:1px solid black;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: white;
    font-size: 14px;
    color: #FFA640;
    margin: 15px auto 20px auto;
    @include mobile{
      width: 90%;
      align-self: flex-start;
      display: flex;
      justify-content: flex-start;
      margin: 15px auto 20px auto;
    };
  }
  &__input-cnt{
    margin-top: 15px;
    min-height: 50px;
    max-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    width: 90%;
    // border: 1px solid black;
    @include mobile{
      padding: 2vw  auto;
      min-height: 50px;
      max-height: 10vh;
      // width: 85%;
    };
    @include laptop{
    };
    &__input-text{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 5px;
      width: 70%;
    }
  }
  &__input{
    border:0;
    outline: none;
    // border:1px solid red;
    border-bottom: 2px solid #DBE0E8;
    width: 95%;
    height: 20px;
    color: #8298B9;
    &::placeholder{
      font-size: 16px;
      color: #8298B9;
      @include mobile{
        font-size: 18px;
      };
    }
    @include mobile{
      width: 65%;
      height: 27px;
    };
    &:focus{
      border: 0;
      border-bottom: 3px solid #FFA640;
      color: #8298B9;
      font-size: 14px;
    }
    &__submit{
      border: 0;
      border-radius: 30px;
      outline: none;
      width: 38%;
      height: 33px;
      background-color: #FFA640;
      // margin-top: 7px;
      color: white;
      font-size: 14px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      font-weight: bold;
      @include mobile{
        width: 35%;
        margin: 7px auto;
        height: 37px;
      };
      &:active{
        border: 3px solid white;
      }
    }
  }
}
