@import "./comments/comments";
@import "./main-profile/main-profile";

@mixin linearGradientEf($colors...){
background: repeating-linear-gradient($colors);
background: -webkit-linear-gradient($colors);
background: -o-linear-gradient($colors);
background: -moz-linear-gradient($colors);
}

.primary-container{
  display: flex;
  justify-content: center;
  align-items: center;
  .follow-app{
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-top: 1em;
    min-width: 310px;
    width:90%;
    min-height: 90%;
    // @include linearGradientEf(180deg,rgba(0,190,0,0.8),rgba(0,190,0,0.8) 50%,rgba(12,34,56,.5) 50%,rgba(12,34,56,.5) 100%);
    background: linear-gradient(to bottom, #002C71 95px,white 0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-start;
  }
}
