@import "./__follows-likes__counters__single-counter/follows-likes__counters__single-counter";
@import "./../../../_cv-page__base/media-query-mixins";

.follows-likes__counters{
  // border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-around;
  @include mobile{
    width: 62%;
  };
}
