@import "./../../_cv-page__base/media-query-mixins";

.share-btn{
  align-self: flex-end;
  background-image: url("./components/follow-app/main-profile/share-btn/share-icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 solid red;
  outline:none;
  height: 14.1px;
  width: 14.1px;
  margin: 11.9px;
  @include mobile{
    margin: 9px;
  };
  &:active{
    border:3px solid white;
  }
}
