@import "./../../_cv-page__base/media-query-mixins";

.details{
  position: relative;
  // border: 1px solid purple;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  @include mobile{
    justify-content: flex-start;
    margin-left: 2em;
  };
  &__img{
    position: absolute;
    bottom:57px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-image: url("./components/follow-app/main-profile/details/Rick-astley.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mobile{
      position: relative;
      bottom:0;
    };
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile{
      justify-content: center;
    };
    &__name{
      font-size: 18px;
      color: #002C71;
      font-weight: normal;
      display: flex;
      align-items: center;
      padding:0 0 0 28px;

      &__likes-btn{
        margin:0 0 0 10px;
        height: 18px;
        width: 18px;
        background-image: url("./components/follow-app/main-profile/details/heart.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        border: 0;
        &:active{
          border: 3px solid white;
        }
      }
    }
    &__address{
      font-size: 12px;
      color: #8298B9;
    }
  }

}
