@import "./details/details";
@import "./follows-likes/follows-likes";
@import "./share-btn/share-btn";
@import "./../_cv-page__base/media-query-mixins";

.main-profile{
  width: 85%;
  min-width:283px;
  min-height: 235px;
  margin-top: 36px;
  border-radius: 5px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
  @include mobile{
    min-height: 186px;
  };
}
