//COLORS

//primary colors
$color__primary_black:rgba(0, 0, 5, 1);//morski
$color__primary_white:rgba(253, 253, 253, 1);//ciemny morski
$color__primary_olive:rgba(191, 194, 21, 1);//ciemny morski
$color__primary_navy-blue:rgba(21, 58, 84, 1);//ciemny morski
$color__primary_grey:rgba(190, 190, 190, 1);//ciemny morski
