@import "./__follows-likes__follow-btn/follows-likes__follow-btn";
@import "./__follows-likes__counters/follows-likes__counters";
@import "./../../_cv-page__base/media-query-mixins";

.follows-likes{
  // border: 1px solid black;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 19px 0;
  };
}
