@import "./../../../_cv-page__base/media-query-mixins";

.follows-likes__follow-btn{
  border: 0;
  border-radius: 30px;
  outline: none;
  width: 88%;
  height: 48px;
  background-color: #FFA640;
  margin-top: 21px;
  color: white;
  font-size: 14px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  font-weight: bold;
  @include mobile{
    width: 35%;
    margin: 0 2% 0 1%;
  };
  &:active{
    border: 3px solid white;
  }
}
