.single-comment {
  width: 100%;
  display: flex; }
  .single-comment__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("./components/follow-app/comments/comments-grid/__comments-grid__single-comment/person.svg");
    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-color: #aaaaaa; }
  .single-comment__content {
    width: 79%;
    margin: 11px 0 0 11px;
    display: flex;
    flex-wrap: wrap;
    color: #002C71;
    font-size: 14px; }
    .single-comment__content__name {
      font-size: 14px;
      width: 80%; }
    .single-comment__content__date {
      opacity: 0.5;
      width: 20%;
      display: flex;
      justify-content: flex-end; }
    .single-comment__content__text {
      padding: 0 10px 70px 0;
      line-height: 21px; }

.comments-grid {
  width: 85%; }

.comments {
  width: 85%;
  min-width: 283px;
  min-height: 235px;
  margin-top: 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5); }
  .comments__toggle-comments {
    border: 0;
    background-color: white;
    font-size: 14px;
    color: #FFA640;
    margin: 25px auto; }
    @media (min-width: 500px) {
      .comments__toggle-comments {
        width: 85%;
        align-self: flex-start;
        display: flex;
        justify-content: flex-start;
        margin: 25px auto; } }
  .comments__input-cnt {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 80%;
    padding-bottom: 5vw; }
  .comments__input {
    border: 0;
    border-bottom: 2px solid #DBE0E8;
    width: 95%;
    height: 27px;
    margin: 2em 0; }
    .comments__input::placeholder {
      font-size: 18px;
      color: #8298B9; }
    .comments__input:focus {
      border: 0;
      border-bottom: 3px solid #FFA640;
      color: #8298B9;
      font-size: 16px; }

.details {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: flex-start; }
  @media (min-width: 500px) {
    .details {
      justify-content: flex-start;
      margin-left: 2em; } }
  .details__img {
    position: absolute;
    bottom: 57px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-image: url("./components/follow-app/main-profile/details/Rick-astley.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 500px) {
      .details__img {
        position: relative;
        bottom: 0; } }
  .details__text {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 500px) {
      .details__text {
        justify-content: center; } }
    .details__text__name {
      font-size: 18px;
      color: #002C71;
      font-weight: normal;
      display: flex;
      align-items: center;
      padding: 0 0 0 28px; }
      .details__text__name__likes-btn {
        margin: 0 0 0 10px;
        height: 18px;
        width: 18px;
        background-image: url("./components/follow-app/main-profile/details/heart.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        border: 0; }
        .details__text__name__likes-btn:active {
          border: 3px solid white; }
    .details__text__address {
      font-size: 12px;
      color: #8298B9; }

.follows-likes__follow-btn {
  border: 0;
  border-radius: 30px;
  outline: none;
  width: 88%;
  height: 48px;
  background-color: #FFA640;
  margin-top: 21px;
  color: white;
  font-size: 14px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 500px) {
    .follows-likes__follow-btn {
      width: 35%;
      margin: 0 2% 0 1%; } }
  .follows-likes__follow-btn:active {
    border: 3px solid white; }

.follows-likes__counters__single-counter {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .follows-likes__counters__single-counter__number {
    color: #FFA640;
    font-size: 24px; }
  .follows-likes__counters__single-counter__text {
    color: #8298B9;
    font-size: 10px; }

.follows-likes__counters {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 500px) {
    .follows-likes__counters {
      width: 62%; } }

.follows-likes {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 500px) {
    .follows-likes {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      margin: 19px 0; } }

.share-btn {
  align-self: flex-end;
  background-image: url("./components/follow-app/main-profile/share-btn/share-icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 solid red;
  outline: none;
  height: 14.1px;
  width: 14.1px;
  margin: 11.9px; }
  @media (min-width: 500px) {
    .share-btn {
      margin: 9px; } }
  .share-btn:active {
    border: 3px solid white; }

.main-profile {
  width: 85%;
  min-width: 283px;
  min-height: 235px;
  margin-top: 36px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5); }
  @media (min-width: 500px) {
    .main-profile {
      min-height: 186px; } }

.primary-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .primary-container .follow-app {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-top: 1em;
    min-width: 310px;
    width: 90%;
    height: 100%;
    background: linear-gradient(to bottom, #002C71 95px, white 0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (min-width: 1000px) {
      .primary-container .follow-app {
        width: 1000px;
        box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5); } }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: white; }
