.single-comment {
  width: 100%;
  display: flex;
  box-shadow: 0px 1px 0px 0 rgba(172, 172, 172, 0.5);
  margin: 2px 0;
  overflow: hidden; }
  .single-comment__icon {
    margin: 10px 0 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("./components/follow-app/comments/comments-grid/__comments-grid__single-comment/person.svg");
    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-color: #aaaaaa; }
  .single-comment__content {
    width: 79%;
    margin: 11px 0 0 11px;
    display: flex;
    flex-wrap: wrap;
    color: #002C71;
    font-size: 14px;
    border: 1px solid red;
    word-wrap: break-word; }
    .single-comment__content__name {
      border: 1px solid red;
      font-size: 14px;
      width: 80%;
      word-wrap: break-word; }
    .single-comment__content__date {
      border: 1px solid red;
      opacity: 0.5;
      width: 20%;
      display: flex;
      justify-content: flex-end;
      padding-right: 11px; }
    .single-comment__content__text {
      border: 1px solid green;
      width: 80%;
      padding: 0 10px 30px 0;
      line-height: 21px; }
    .single-comment__content__btn {
      border: 0;
      outline: none;
      margin-left: 10px;
      cursor: pointer; }
      .single-comment__content__btn_hidden {
        display: none; }

.comments-grid {
  width: 90%;
  overflow-y: scroll;
  min-height: 40px;
  max-height: 35vh; }

.hide {
  display: none; }

.show {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.comments {
  width: 85%;
  min-width: 283px;
  min-height: 200px;
  max-height: 55vh;
  margin: 12px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5); }
  @media (min-width: 1000px) {
    .comments {
      max-height: 55vh; } }
  .comments__toggle-comments {
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: white;
    font-size: 14px;
    color: #FFA640;
    margin: 15px auto 20px auto; }
    @media (min-width: 500px) {
      .comments__toggle-comments {
        width: 90%;
        align-self: flex-start;
        display: flex;
        justify-content: flex-start;
        margin: 15px auto 20px auto; } }
  .comments__input-cnt {
    min-height: 50px;
    max-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 90%; }
    @media (min-width: 500px) {
      .comments__input-cnt {
        padding: 2vw  auto;
        min-height: 50px;
        max-height: 10vh; } }
    .comments__input-cnt__input-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 5px;
      width: 70%; }
  .comments__input {
    border: 0;
    outline: none;
    border-bottom: 2px solid #DBE0E8;
    width: 95%;
    height: 20px;
    color: #8298B9; }
    .comments__input::placeholder {
      font-size: 16px;
      color: #8298B9; }
      @media (min-width: 500px) {
        .comments__input::placeholder {
          font-size: 18px; } }
    @media (min-width: 500px) {
      .comments__input {
        width: 65%;
        height: 27px; } }
    .comments__input:focus {
      border: 0;
      border-bottom: 3px solid #FFA640;
      color: #8298B9;
      font-size: 14px; }
    .comments__input__submit {
      border: 0;
      border-radius: 30px;
      outline: none;
      width: 38%;
      height: 33px;
      background-color: #FFA640;
      color: white;
      font-size: 14px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      font-weight: bold; }
      @media (min-width: 500px) {
        .comments__input__submit {
          width: 35%;
          margin: 7px auto;
          height: 37px; } }
      .comments__input__submit:active {
        border: 3px solid white; }

.details {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: flex-start; }
  @media (min-width: 500px) {
    .details {
      justify-content: flex-start;
      margin-left: 2em; } }
  .details__img {
    position: absolute;
    bottom: 43px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-image: url("./components/follow-app/main-profile/details/Rick-astley.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 500px) {
      .details__img {
        position: relative;
        bottom: 0; } }
  .details__text {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 500px) {
      .details__text {
        justify-content: center; } }
    .details__text__name {
      font-size: 18px;
      color: #002C71;
      font-weight: normal;
      display: flex;
      align-items: center;
      padding: 0 0 0 28px; }
      .details__text__name__likes-btn {
        margin: 0 0 0 10px;
        height: 18px;
        width: 18px;
        background-image: url("./components/follow-app/main-profile/details/heart.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
        border: 0; }
        .details__text__name__likes-btn:active {
          border: 3px solid white; }
    .details__text__address {
      font-size: 12px;
      color: #8298B9; }

.follows-likes__follow-btn {
  border: 0;
  border-radius: 30px;
  outline: none;
  width: 88%;
  height: 38px;
  background-color: #FFA640;
  margin: 15px 0 6px 0;
  color: white;
  font-size: 14px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 500px) {
    .follows-likes__follow-btn {
      width: 35%;
      margin: 0 2% 0 1%;
      height: 48px; } }
  .follows-likes__follow-btn:active {
    border: 3px solid white; }

.follows-likes__counters__single-counter {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .follows-likes__counters__single-counter__number {
    color: #FFA640;
    font-size: 24px; }
  .follows-likes__counters__single-counter__text {
    color: #8298B9;
    font-size: 10px; }

.follows-likes__counters {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 500px) {
    .follows-likes__counters {
      width: 62%; } }

.follows-likes {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 500px) {
    .follows-likes {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      margin: 19px 0; } }

.share-btn {
  align-self: flex-end;
  background-image: url("./components/follow-app/main-profile/share-btn/share-icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px solid red;
  outline: none;
  height: 14.1px;
  width: 14.1px;
  margin: 11.9px; }
  @media (min-width: 500px) {
    .share-btn {
      margin: 9px; } }
  .share-btn:active {
    border: 3px solid white; }

.main-profile {
  width: 85%;
  min-width: 283px;
  min-height: 180px;
  max-height: 30vh;
  margin-top: 26px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5); }
  @media (min-width: 760px) {
    .main-profile {
      margin-top: 36px; } }

.primary-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; }
  .primary-container .follow-app {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-top: 1.0em;
    min-width: 310px;
    width: 90%;
    min-height: 90%;
    background: linear-gradient(to bottom, #002C71 95px, white 0%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 1000px) {
      .primary-container .follow-app {
        width: 1000px;
        box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5); } }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: white; }
