.main-profile__details {
  position: relative;
  display: flex;
  justify-content: center; }
  .main-profile__details__img {
    position: absolute;
    bottom: 3em;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-image: url("./components/follow-app/main-profile/__main-profile__details/Rick-astley.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .main-profile__details__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px; }
    .main-profile__details__text__name {
      font-size: 18px; }
    .main-profile__details__text__address {
      font-size: 12px; }

.main-profile__share-btn {
  align-self: flex-end;
  background-image: url("./components/follow-app/main-profile/__main-profile__share-btn/share-icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 solid red;
  outline: none;
  height: 10.1px;
  width: 10.1px;
  margin: 4px; }
  .main-profile__share-btn:active {
    border: 3px solid white; }

.main-profile {
  width: 84vw;
  height: 84vw;
  margin-top: 36px;
  border-radius: 10px;
  border: 1px solid red;
  display: flex;
  flex-direction: column; }

.primary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif; }
  .primary-container .follow-app {
    border-radius: 10px;
    margin-top: 1em;
    min-width: 310px;
    width: 90%;
    min-height: 90%;
    background: linear-gradient(to bottom, #002C71 95px, white 0%);
    display: flex;
    justify-content: center; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: white; }
