.single-comment{
  width: 100%;
  display: flex;
  box-shadow: 0px 1px 0px 0 rgba(172,172,172,0.50);
  margin: 2px 0;
  overflow: hidden;
  &__icon{
    margin: 10px 0 0 10px;
    width:40px;
    height:40px;
    border-radius: 50%;
    background-image: url("./components/follow-app/comments/comments-grid/__comments-grid__single-comment/person.svg");
    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-color: rgba(170, 170, 170, 1);
  }
  &__content{
    width: 79%;
    margin: 11px 0 0 11px;
    display: flex;
    flex-wrap: wrap;
    color: #002C71;
    font-size: 14px;
    // border: 1px solid red;
    word-wrap: break-word;
    &__name{
      // border: 1px solid red;
      font-size: 14px;
      width: 80%;
      word-wrap: break-word;
    }
    &__date{
      // border: 1px solid red;
      opacity: 0.5;
      width: 20%;
      display: flex;
      justify-content: flex-end;
      padding-right: 11px;
    }
    &__text{
      // border: 1px solid green;
      width: 80%;
      padding: 0 10px 30px 0;
      line-height: 21px;
    }
    &__menu{
      min-height: 10px;
      min-width: 10px;
      position: relative;
      // background-image: url("./components/follow-app/comments/comments-grid/__comments-grid__single-comment/person.svg");
      background-position: center;
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-color: rgba(170, 170, 170, 1);
      cursor: pointer;
      &__list{
        display:none;
        &__item{

        }
      }//list
      &__list_visible{
        position: absolute;
        display:block;
      }
    }//menu
  }//contenet
}
