.single-comment{
  width: 100%;
  display: flex;
  // border: 1px solid red;
  // &:hover{
  //   background-color: red;
  //   &::after{
  //     content:&times;;
  //   }
  // }
  &__icon{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-image: url("./components/follow-app/comments/comments-grid/__comments-grid__single-comment/person.svg");
    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-color: rgba(170, 170, 170, 1);
  }
  &__content{
    width: 79%;
    margin: 11px 0 0 11px;
    display: flex;
    flex-wrap: wrap;
    color: #002C71;
    font-size: 14px;
    // border: 1px solid orange;
    &__name{
      font-size: 14px;
      width: 80%;
    }
    &__date{
      opacity: 0.5;
      width: 20%;
      display: flex;
      justify-content: flex-end;
    }
    &__text{
      padding: 0 10px 30px 0;
      line-height: 21px;
      &_last{
        padding: 0 10px 80px 0;
      }
    }

    &__btn{
      border: 0;
      outline: none;
      margin-left: 10px;
      cursor: pointer;
      &_hidden{
        display: none;
      }
    }
  }
}
