.single-comment{
  // border: 1px solid red;
  width: 100%;
  display: flex;
  &__icon{
    // border: 1px solid green;
    width:40px;
    height:40px;
    border-radius: 50%;
    background-image: url("./components/follow-app/comments/comments-grid/__comments-grid__single-comment/person.svg");
    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-color: rgba(170, 170, 170, 1);
  }
  &__content{
    // border: 1px solid blue;
    width: 79%;
    margin: 11px 0 0 11px;
    display: flex;
    flex-wrap: wrap;
    color: #002C71;
    font-size: 14px;
    &__name{
      font-size: 14px;
      width: 80%;
      // border: 1px solid red;
    }
    &__date{
      // border: 1px solid blue;
      opacity: 0.5;
      width: 20%;
      display: flex;
      justify-content: flex-end;
    }
    &__text{
      padding-right: 10px;
      line-height: 21px;
    }
  }
}
